html {
    background-color: #220C10;
}

* {
    --switch-height: 34px;
    --switch-padding: 8px;
    --switch-width: calc((var(--switch-height) * 2) - var(--switch-padding));
    --slider-height: calc(var(--switch-height) - var(--switch-padding));
    --slider-on: calc(var(--switch-height) - var(--switch-padding));
  }

body {
    display: grid;
    grid-template-rows: 0.25fr 3fr;
    main {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        column-gap: 2vw;
    }
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#map-grid {
    display: grid;
    grid-template-columns: repeat(6, 90px);
    grid-template-rows: repeat(8, 90px);
    grid-area: 1 / 2 / 3 /2;
    margin: auto;
    position: relative;
    block-size: var(--line-thickness);
    inset-inline-start: 0;
    inset-block-start: calc(var(--line-offset) * -1);

    #map {
        position: absolute;
        inset: 0;
    }

    #bg {
        position: absolute;
        inset: 0;
        z-index: 1;
        background-color: blue;
        opacity: 0.2;
        pointer-events: none;
    }

    .grid-cell {
        padding: 0;
        border-radius: 0;
        cursor: pointer;
    }
}

.unit-banner {
    position: relative;
    height: 280px;

    img {
        height: 100%;
        width: 100%;
        display: inline-block;
        transform: rotateY(180deg);
    }

    #current-unit-name {
        z-index: 1;
        position: absolute;
        inset: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 26px;
        background-color: rgba(255, 255, 255, 0.6);
    }
}

#unit {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 2fr;
}

nav {
    background-color: #2B303A;
}

#edit-unit {
    background-color: #803D37;

    ul {
        margin: 0;
        padding: 0;
        justify-content: space-around;
        list-style: none;
        display: flex;
        justify-content: space-around;
    }

    .tab {
        padding: 6px 10px;
        flex: 1;
        text-align: center;
        color: #BAC1B8;

        &.active {
            color: white;
            font-weight: bold;
            background: linear-gradient(to bottom, #D64933, #803D37);
        }
        
    }
}

.tab-content {
    color: white;
    padding: 6px;
}

input[type="checkbox"] {
    display: none;

    & + label {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 1vw;

        .checkbox-bg {
            height: 2vh;
            width: 2vh;
            padding: 4px;
            position: relative;
            background-color: white;
        }

        .checkbox-toggle {
            height: 100%;
            background-color: white;
            transition: background-color linear 100ms;
        }
    }

    &:checked ~ label {
        .checkbox-toggle {
            background-color: #D64933;
            display: block;
        }
    }
}

select {
    width: 100%;
}

a, a:visited {
    text-decoration: none;
    height: 100%;
    width: 100%;
    color: white;
    display: block;
}

.hide {
    display: none;
}

.switch {
    position: relative;
    display: inline-block;
    width: var(--switch-width);
    height: var(--switch-height);
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    content: "";
    position: absolute;
    height: var(--slider-height);
    width: var(--slider-height);
    left: calc(var(--switch-padding) / 2);
    bottom: calc(var(--switch-padding) / 2);
    background-color: #B31517;
    transition: .4s;
}

input:checked ~ label .slider::before {
    background-color: #0F248A;
}

input:checked ~ label .slider:before {
    transform: translateX(var(--slider-on));
}

.slider.round {
    border-radius: var(--slider-height);
}

.slider.round:before {
    border-radius: 50%;
}

input[name="ai-behavior"] {
    display: none;
}

label.option {
    padding: 10px;
    display: block;
    cursor: pointer;
    background-color: #2B303A;
    text-align: center;
    transition: background-color linear 300ms;

    #movement-group:checked ~ table &[for="movement-group"],
    #set-turns:checked ~ table &[for="set-turns"] {
        background-color: #15B374;
        color: #2B303A;
    }
}
